RSSAC003 and RRSIG

RSSAC003, section 2 contains DNS term definitions.
https://www.icann.org/en/system/files/files/rssac-003-root-zone-ttls-21aug15-en.pdf

The only term in RSSAC003 not in this I-D is RRSIG.
"Resource Records Signatures (RRSIG) – DNSSEC uses public key cryptography to sign and authenticate DNS resource record sets (RRsets). Digital signatures are stored in RRSIG resource records and are used in the DNSSEC authentication process described in (RFC4035)."

I suggest a reference to RSSAC003 under normative references and a definition for RRSIG. Maybe not this definition, but RRSIG is used in the I-D without being defined.

I like adding RSSAC023 to this document, but I disagree about the need to define RRSIG records. They are resource records like any other resource records, and where we talk about them, it is clearly in the context of DNSSEC and those RFCs.